* {
	padding: 0;
	margin: 0;
	font-family: century Gothic;
	text-align: center;
}

h2{
    text-align: left;
	padding: 12px;
	color: rgb(15, 15, 15)
    
}

form {
	padding: 50px 20px;
	background-color: rgba(203, 202, 202, 0.444);
	margin: calc(25% + 100px);
	margin-top: 6%;
	padding-top: 28px;
	margin-bottom: 30px  
}

h1 {
	text-align: center;
	padding: 12px;
	color: rgb(14, 14, 14)
    
}


input {
	width: calc(100% - 20px);
	padding: 9px;
	margin: auto;
	margin-top: 12px;
	font-size: 20px;
    border: 10%;
}

input[type='submit']{
	background-color: rgb(83, 82, 81);
	color: #fff;
	width: calc(80% - 20px);
	margin: 0 10%;
	margin-top: 22px;
	border-radius: 10px;
	
}


.bad {
	text-align: center;
	padding: 1px;
    background-position: center;
	background-color: rgb(199, 50, 50);
	color: #fff
}

.good{
     text-align: center;
     padding: 1px;
     background-color: rgb(178, 249, 155);
     color: #fff
}
.off{
	text-align: center;
	width: 100%;
	padding: 12px;
	background-color: rgb(0, 0, 0);
	color: #fff

}
body{
	background-image:url(../imagen/cesta.jpg);
	width: 100%;
	height:100%;
    background-repeat: no-repeat; 
    padding-top: 10%;
	background-size: cover;
	
}

h6 {
	text-align: center;
	padding: 12px;
    color: rgb(206, 203, 203);
    line-height: 20px;
}
.gabo{
	padding: 50px 20px;
	background-color: #453c2ca6;
	margin: calc(25% + 100px);
	margin-top: 70px;
	padding-top: 28px;
    margin-bottom: 30px;
    line-height: 20px;
}
header{
  
    display: flex;
    align-items: center;
    background-color: #c7c4c4a6;
    margin-top: -10%;
   
}
header h1{
    margin-left: 5px;
    align-items: center;
    width: calc(20% - 100px);
    font-family: montez;
    font-size: 55px;
}
header a{
    margin-right: 30px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    transition: all ease 300ms;
}
.login-box{
	background-image:url(../IMG/logogae.png);
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top: -50px;
	left: calc(50% - 50px);
}

img{
    width: 150px;
    display: flex;
}

